<table>
    <thead>
        <tr>
            <th attr.colspan="{{colspan}}">Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name </td>
            <td>{{firstName}}</td>
        </tr>
        
        <tr>
            <td>Last Name</td>
            <td>{{lastName}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{age}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{gender}}</td>
        </tr>
    </tbody>
</table>
